---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <div class="flex-col justify-center items-center mt-36">
    <h1 class="text-6xl flex justify-center">About the SpaceX Project</h1>
    <p class="m-5 border-2 border-cyan-700 p-3 flex justify-center">
      SpaceX is a pioneer in the aerospace industry with a series of successful
      launches and innovative missions.
    </p>
    <p class="m-5 border-2 border-cyan-700 p-3 flex justify-center">
      Their achievements include missions such as Demo Mission 2, the Falcon
      Heavy test flight and the Inspiration4 mission.
    </p>
    <p class="m-5 border-2 border-cyan-700 p-3 flex justify-center">
      The company has developed advanced technologies, such as reusable rockets
      and Starlink satellite constellations for the global internet.
    </p>
    <p class="m-5 border-2 border-cyan-700 p-3 flex justify-center">
      The company has developed advanced technologies, such as reusable rockets
      and Starlink satellite constellations for the global internet.
    </p>
    <p class="m-5 border-2 border-cyan-700 p-3 flex justify-center">
      This static web page collects a large part of spaceX's launches and
      presents it in an easy-to-use format for exploration for each rocket
      launch that the company has carried out.
    </p>
  </div>
</Layout>