---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <div
    class="sm:-ml-60 bg-cover bg-center h-screen relative "
    style="background-image: url(https://www.spacex.com/static/images/backgrounds/Updates_Header.jpg);"
  >
    <!-- <h1>pagina principal</h1> -->
    <div class="absolute m-60 text-5xl">
      <h1 class="select-none sm:ml-10">Space is our home</h1>
    </div>
  </div>
</Layout>
