---

---

<nav
  class="justify-center p-7 fixed text-lg top-0 left-0 w-full shadow-md z-10"
  :class="{ 'navbar-hidden' : navbarHidden }"
>
  <ul class="items-center flex">
    <a href="./index" class="p-3 hover:bg-blue-950 rounded-lg">Home</a>
    <a href="/Launches" class="p-3 hover:bg-blue-950 rounded-lg">Launches</a>
    <a href="/about" class="p-3 hover:bg-blue-950 rounded-lg">About</a>
    <!-- <a href="#" class="p-3 hover:bg-blue-950 rounded-lg">More...</a> -->
  </ul>
</nav>
